body{
    height: 100vh;
    background: #ddcccb;
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", serif;
}

header{
    width: 100%;
    background: #c27770;
    height: 85px;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24%;
    background: white;
    border-radius: 50px;
    margin: auto;
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(53%);
    z-index: 2;
    height: 70px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    margin-top: 35px;
}

nav ul li {
    list-style: none;
    color: #ddcccb;
}

.heading {
    display: flex;
    padding: 0 20px;
}

.heading h1 span{
    color:#c29793;
    font-size: 45px;
}

.heading h1{
    color:#c27770;
    font-size: 45px;
}

div.container{
    display: flex;
    margin-top: 90px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

i.mail, i.languages, i.about{
    margin-right: 10px;
    color: #c27770;
}

i.location{
    margin-right: 15px;
    color: #c27770;
}

div.left img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.square {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    padding: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav {
    display: flex;
    justify-content: center;
}

div.nav ul {
    display: flex;
    list-style: none;
    gap: 22px;
}

div.nav ul li{
    padding-bottom: 5px;
    border-bottom: 1px solid #c27770;
}

div.nav ul li:hover{
    font-size: 18px;
    border-bottom: 3px solid #c27770;
}

div.nav ul li a{
    text-decoration: none;
    color: black;
}

.left {
    display: flex;
    width: 210px;
}

.right {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    margin-top: -190px;
    margin-left: 38px;
}

.right ul {
    display: flex
;
    flex-direction: column;
    gap: 10px;
}

.right ul li{
    list-style: none;
}