body{
    height: 100vh;
    background: #f1f1f1;
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", serif;
}

header{
    width: 100%;
    background: #9d8785;
    height: 85px;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 93px;
    background: white;
    border-radius: 50px;
    margin: auto;
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(62%);
    z-index: 2;
    height: 89px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    margin-top: 35px;
}

nav ul li{
    list-style: none;
    color: #ddcccb;
}

nav ul li a{
    text-decoration: none;
    color: #ddcccb;
}

.heading a > i{
    font-size: 32px;
    color: #9d8785;
}

.heading {
    display: flex;
    padding: 0 20px;
}

.heading h1 span{
    color:#c29793;
    font-size: 45px;
}

.heading h1{
    color:#c27770;
    font-size: 45px;
}

div.container{
    display: flex;
    margin-top: 60px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

i.mail, i.languages, i.about{
    margin-right: 10px;
    color: #c27770;
}

i.location{
    margin-right: 15px;
    color: #c27770;
}

div.left img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.square {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    padding: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background: #d6d6d6;
}

.nav {
    display: flex;
    justify-content: center;
}

div.nav ul {
    display: flex;
    list-style: none;
    gap: 22px;
}

div.nav ul li{
    padding-bottom: 5px;
    border-bottom: 1px solid #c27770;
}

div.nav ul li:hover{
    font-size: 18px;
    border-bottom: 3px solid #c27770;
}

div.nav ul li a{
    text-decoration: none;
    color: black;
}

.left {
    display: flex;
    width: 210px;
}

.right {
    display: flex;
    width: 100%;
    /* justify-content: flex-end; */
    margin-top: -190px;
    margin-left: 202px;
}

.right ul {
    display: flex
;
    flex-direction: column;
    gap: 10px;
}

.right ul li{
    list-style: none;
}

.wrap {
    display: flex;
    width: 100%;
    gap: 45px;
}

.row {
    display: flex;
    flex-direction: column;
}

div.container.about{
    gap: 5px;
}

.row h2{
    font-size: 16px;
    margin-bottom: 0;
}

.row h3{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.row p{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.row ul{
    font-size: 14px;
    font-weight: 200;
    padding: 10px;
}

.row ul li::marker {
    color: #c27770;
  }

   h2.studies{
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0%;
  }

  .column {
    display: flex;
}

.add-info h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
}

.add-info {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.add-info p {
    font-size: 14px;
    font-weight: 200;
    margin-top: 0;
    padding: 0;
}

p.heading{
    font-weight: 500;
    margin-bottom: 2px;
}

p.date{
    font-size: 12px;
    color: rgb(94, 94, 94);
}

.add-info ul, div.fixed ul {
    font-size: 15px;
    font-weight: 200;
    padding-left: 16px;
}

.add-info ul li::marker, div.fixed ul li::marker  {
    color: #c27770; 
}

.add-info a {
    margin-bottom: 14px;
    margin-top: -8px;
    color: #c27770;
    font-size: 14px;
}

div.add-info.first{
    height: 81px;
    position: relative;
}

div.fixed ul{
    margin-top: 5px;
}

div.fixed h2{
    font-size: 20px;
    margin-bottom: 0;
}

.fixed {
    position: absolute;
    top: 442px;
}

.square.project{
    width: 70%;
    height: 500px;
}

.left.project{
    width: 40%;
}

.left.project img{
    width: 111%;
    height: 340px;
    border-radius: 5px;
    border: 3px solid #c27770;
    margin-top: 24px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right.project {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.right.project ul li {
    list-style: disc;
}

.right.project ul li::marker{
    color: #c27770;
}

.right.project ul {
    gap: 5px;
}

.right.project ul.inner-ul li{
    list-style: circle;
}

.right.project ul.inner-ul {
    padding-left: 16px;
}

.right.project ul a {
    margin: 25px auto 0 auto;
    text-decoration: none;
    background: white;
    color: #c27770;
    width: 226px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 50px;
}

.right.project ul a:hover{
    background: #c27770;
    color: white;
}

.left.project.su img {
    border: 3px solid #a349ff;
}

.left.project.ul img {
    border: 3px solid #2888a6;
}

.left.project.cm img {
    border: 3px solid #74c9be;
}

.left.project.pet-lovers img {
    border: 3px solid #e7d518;
}

main#carousel {
    height: 380px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    pointer-events: none;
    margin-top: 30px;
  }  

  div.item {
    position: absolute;
    width: 421px;
    height: 305px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item.mm:nth-of-type(1) {
    --offset: 1;
    background-image: url('../images/mm-3.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #c27770;
  }
  div.item.mm:nth-of-type(2) {
    --offset: 2;
    background-image: url('../images/mm-2.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #c27770;
  }
  div.item.mm:nth-of-type(3) {
    --offset: 3;
    background-image: url('../images/mm-1.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #c27770;
  }
  div.item.mm:nth-of-type(4) {
    --offset: 4;
    background-image: url('../images/mm-5.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #c27770;
  }
  div.item.mm:nth-of-type(5) {
    --offset: 5;
    background-image: url('../images/mm-4.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #c27770;
  }

  div.item.pl:nth-of-type(1) {
    --offset: 1;
    background-image: url('../images/pl-7.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }
  div.item.pl:nth-of-type(2) {
    --offset: 2;
    background-image: url('../images/pl-5.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }
  div.item.pl:nth-of-type(3) {
    --offset: 3;
    background-image: url('../images/pl-4.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }
  div.item.pl:nth-of-type(4) {
    --offset: 4;
    background-image: url('../images/pl-1.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }
  div.item.pl:nth-of-type(5) {
    --offset: 5;
    background-image: url('../images/pl-2.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }

  div.item.pl:nth-of-type(6) {
    --offset: 6;
    background-image: url('../images/pl-3.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }

  div.item.pl:nth-of-type(7) {
    --offset: 7;
    background-image: url('../images/pl-6.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #e7d518;
  }

  div.item.ce:nth-of-type(1) {
    --offset: 1;
    background-image: url('../images/ce-3.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #74c9be;
  }
  div.item.ce:nth-of-type(2) {
    --offset: 2;
    background-image: url('../images/ce-5.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #74c9be;
  }
  div.item.ce:nth-of-type(3) {
    --offset: 3;
    background-image: url('../images/ce-1.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #74c9be;
  }
  div.item.ce:nth-of-type(4) {
    --offset: 4;
    background-image: url('../images/ce-2.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #74c9be;
  }
  div.item.ce:nth-of-type(5) {
    --offset: 5;
    background-image: url('../images/ce-4.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #74c9be;
  }

  div.item.ce:nth-of-type(6) {
    --offset: 6;
    background-image: url('../images/ce-6.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #74c9be;
  }

  div.item.su:nth-of-type(1) {
    --offset: 1;
    background-image: url('../images/su-3.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #93c05c;
  }
  div.item.su:nth-of-type(2) {
    --offset: 2;
    background-image: url('../images/su-4.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #93c05c;
  }
  div.item.su:nth-of-type(3) {
    --offset: 3;
    background-image: url('../images/su-8.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #93c05c;
  }
  div.item.su:nth-of-type(4) {
    --offset: 4;
    background-image: url('../images/su-5.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #93c05c;
  }
  div.item.su:nth-of-type(5) {
    --offset: 5;
    background-image: url('../images/su-1.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #93c05c;
  }
  div.item.su:nth-of-type(6) {
    --offset: 6;
    background-image: url('../images/su-2.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #93c05c;
  }

  div.item.ul:nth-of-type(1) {
    --offset: 1;
    background-image: url('../images/ul-2.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #2888a6;
  }
  div.item.ul:nth-of-type(2) {
    --offset: 2;
    background-image: url('../images/ul-1.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #2888a6;
  }
  div.item.ul:nth-of-type(3) {
    --offset: 3;
    background-image: url('../images/ul-3.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #2888a6;
  }
  div.item.ul:nth-of-type(4) {
    --offset: 4;
    background-image: url('../images/ul-4.png');
        background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid #2888a6;
  }


  input.first:nth-of-type(1){
    margin-left: 47%;
  }
  
  input:nth-of-type(1) {
    margin-left: 45%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

  input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
  }

  input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
  }

  input[type="radio"]:checked{
    accent-color: #c27770;
  }
