body{
    height: 100vh;
    background: #f1f1f1;
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", serif;
}

header{
    width: 100%;
    background: #9d8785;
    height: 85px;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 93px;
    background: white;
    border-radius: 50px;
    margin: auto;
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(62%);
    z-index: 2;
    height: 89px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    margin-top: 35px;
}

nav ul li{
    list-style: none;
    color: #ddcccb;
}

nav ul li a{
    text-decoration: none;
    color: #ddcccb;
}

.heading a > i{
    font-size: 32px;
    color: #9d8785;
}

.heading {
    display: flex;
    padding: 0 20px;
}

.heading h1 span{
    color:#c29793;
    font-size: 45px;
}

.heading h1{
    color:#c27770;
    font-size: 45px;
}

div.container{
    display: flex;
    margin-top: 90px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

i.mail, i.languages, i.about{
    margin-right: 10px;
    color: #c27770;
}

i.location{
    margin-right: 15px;
    color: #c27770;
}

div.left img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.square {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    padding: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background: #d6d6d6;
}

.nav {
    display: flex;
    justify-content: center;
}

div.nav ul {
    display: flex;
    list-style: none;
    gap: 22px;
}

div.nav ul li{
    padding-bottom: 5px;
    border-bottom: 1px solid #c27770;
}

div.nav ul li:hover{
    font-size: 18px;
    border-bottom: 3px solid #c27770;
}

div.nav ul li a{
    text-decoration: none;
    color: black;
}

.left {
    display: flex;
    width: 210px;
}

.right {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    margin-top: -190px;
    margin-left: 38px;
}

.right ul {
    display: flex
;
    flex-direction: column;
    gap: 10px;
}

.right ul li{
    list-style: none;
}

.wrap {
    display: flex;
    width: 100%;
    gap: 45px;
}

.row {
    display: flex;
    flex-direction: column;
}

div.container.about{
    gap: 5px;
}

.row h2{
    font-size: 16px;
    margin-bottom: 0;
}

.row h3{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.row p{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.row ul{
    font-size: 14px;
    font-weight: 200;
    padding: 10px;
}

.row ul li::marker {
    color: #c27770;
  }

   h2.studies{
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0%;
  }

  .column {
    display: flex;
}

.add-info h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
}

.add-info {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.add-info p {
    font-size: 14px;
    font-weight: 200;
    margin-top: 0;
    padding: 0;
}

p.heading{
    font-weight: 500;
    margin-bottom: 2px;
}

p.date{
    font-size: 12px;
    color: rgb(94, 94, 94);
}

.add-info ul, div.fixed ul {
    font-size: 15px;
    font-weight: 200;
    padding-left: 16px;
}

.add-info ul li::marker, div.fixed ul li::marker  {
    color: #c27770; 
}

.add-info a {
    margin-bottom: 14px;
    margin-top: -8px;
    color: #c27770;
    font-size: 14px;
}

div.add-info.first{
    height: 81px;
    position: relative;
}

div.fixed ul{
    margin-top: 5px;
}

div.fixed h2{
    font-size: 20px;
    margin-bottom: 0;
}

.fixed {
    position: absolute;
    top: 442px;
}

.square.project{
    width: 85%;
    height: 442px;
}

.left.project{
    width: 40%;
}

.left.project img{
    width: 111%;
    height: 340px;
    border-radius: 5px;
    border: 3px solid #c27770;
    margin-top: 24px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right.project {
    width: 55%;
    margin-left: 46%;
    margin-top: -365px;
    display: flex;
}

.right.project ul li {
    list-style: disc;
}

.right.project ul li::marker{
    color: #c27770;
}

.right.project ul {
    gap: 5px;
}

.right.project ul.inner-ul li{
    list-style: circle;
}

.right.project ul.inner-ul {
    padding-left: 16px;
}

.right.project ul a {
    margin-top: 15px;
    text-decoration: none;
    background: white;
    color: #c27770;
    width: 226px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 50px;
}

.right.project ul a:hover{
    background: #c27770;
    color: white;
}

/* .square.project.pet-lovers {
    background: white;
} */
/* 
.nav.pet-lovers ul li{
    border-bottom: 1px solid #e7d518;
}

.nav.pet-lovers ul li:hover{
   font-size: 18px;
   border-bottom-color: #e7d518;
}

.right.project ul a.pet-lovers{
    background: #e7d518;
    color: white;
}

.right.project ul a.pet-lovers:hover{
    background: rgb(160, 151, 151);
    color: #e7d518;
}

/* .square.project.cm{
    background: #1f4258d1;
} */

/* .right.project.cm ul li::marker{
    color: turquoise;
}

.right.project ul a.cm{
    background: turquoise;
    color: #1f4258d1;
}

.right.project ul a.cm:hover{
    background: #1f4258d1;
    color: turquoise;
}

.nav.cm ul li{
    border-bottom: 1px solid turquoise;
}

.nav.cm ul li:hover{
   font-size: 18px;
   border-bottom-color: turquoise;
} */

/* .square.project.ul{
    background: #e7e7e7;
} */

/* 
.nav.ul ul li{
    border-bottom: 1px solid #2888a6;
}

.nav.ul ul li:hover{
   font-size: 18px;
   border-bottom-color: #2888a6;
}

.right.project.ul ul li::marker{
    color: #2888a6;
}

.right.project ul a.ul{
    background: #2888a6;
    color: #e7e7e7;
}

.right.project ul a.ul:hover{
    background: #c2c1c1;
    color: #2888a6;
} */

/* .square.project.su{
    background: #1A1B16;
} */

/* .right.project.su ul li {
    color: #000000bf;
}

.nav.su ul li{
    color: #ffffffbf;
    border-bottom: 1px solid #a349ff;
}


.nav.su ul li a{
color: #000000bf;
}

.nav.su ul li:hover{
    font-size: 18px;
    border-bottom-color: #a349ff;
 }    

 .right.project.su ul li::marker{
    color: #a349ff;
}

.right.project ul a.su{
    background: #c2c1c1;
    color: #a349ff;
}

.right.project ul a.su:hover{
    background: #a349ff;
    color: #c2c1c1;
}  */

.left.project.su img {
    border: 3px solid #a349ff;
}

.left.project.ul img {
    border: 3px solid #2888a6;
}

.left.project.cm img {
    border: 3px solid #74c9be;
}

.left.project.pet-lovers img {
    border: 3px solid #e7d518;
}